<div class="container">
    <div class="row">
        <div class="col">
            <!-- <img class="img-thumbnail rounded-circle" src="./img/dendi.jpeg" alt="Oops..errors"> -->
            <img class="img-thumbnail rounded-circle" src="img/dendi.jpeg" alt="Oops..errors">
            <h1 class="display-4">Dendi Pudge</h1>
            <p>Dota 2 Player | E-Spors player</p>
        </div>
    </div>
</div>